.header {
    text-align: center;
  
}

.name {
    
    font-size: 100px;
    border-bottom: 1px solid orange;
}

@media (max-width: 432px) {
    .pic {
        width: 150px;
        height:180px;
    }
}

