.myslides {
text-align: center;
}


.GitButton1  {
    border: 1px orange solid;
}

.GitButton2 {
    border: 1px orange solid;
}

@media (max-width: 432px) {
.slidesCss{
    width:400px;
    height: 400px;
}
.GitButton1 {
    padding-right:30px;
}
}